@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-house:before { content: "\f100"; }
.flaticon-002-necklace:before { content: "\f101"; }
.flaticon-003-sale:before { content: "\f102"; }
.flaticon-004-face-mask:before { content: "\f103"; }
.flaticon-005-painting:before { content: "\f104"; }
.flaticon-006-diamond:before { content: "\f105"; }
.flaticon-007-catalogue:before { content: "\f106"; }
.flaticon-008-money-bag:before { content: "\f107"; }
.flaticon-009-vase:before { content: "\f108"; }
.flaticon-010-wristwatch:before { content: "\f109"; }
.flaticon-011-hammer:before { content: "\f10a"; }
.flaticon-012-smartphone:before { content: "\f10b"; }
.flaticon-013-bid:before { content: "\f10c"; }
.flaticon-014-stopwatch:before { content: "\f10d"; }
.flaticon-015-crown:before { content: "\f10e"; }
.flaticon-016-certificate:before { content: "\f10f"; }
.flaticon-017-bid:before { content: "\f110"; }
.flaticon-018-statue:before { content: "\f111"; }
.flaticon-019-search:before { content: "\f112"; }
.flaticon-020-calendar:before { content: "\f113"; }
.flaticon-021-bid:before { content: "\f114"; }
.flaticon-022-museum:before { content: "\f115"; }
.flaticon-023-vase:before { content: "\f116"; }
.flaticon-024-delivery-truck:before { content: "\f117"; }
.flaticon-025-gift-box:before { content: "\f118"; }
.flaticon-026-diamond-ring:before { content: "\f119"; }
.flaticon-027-target:before { content: "\f11a"; }
.flaticon-028-hammer:before { content: "\f11b"; }
.flaticon-029-banknote:before { content: "\f11c"; }
.flaticon-030-vase:before { content: "\f11d"; }
.flaticon-031-speech:before { content: "\f11e"; }
.flaticon-032-car:before { content: "\f11f"; }
.flaticon-033-painting:before { content: "\f120"; }
.flaticon-034-credit-card:before { content: "\f121"; }
.flaticon-035-cctv-camera:before { content: "\f122"; }
.flaticon-036-goblet:before { content: "\f123"; }
.flaticon-037-conference:before { content: "\f124"; }
.flaticon-038-bank-check:before { content: "\f125"; }
.flaticon-039-worlwide:before { content: "\f126"; }
.flaticon-040-price-tag:before { content: "\f127"; }
.flaticon-041-document:before { content: "\f128"; }
.flaticon-042-tuxedo:before { content: "\f129"; }
.flaticon-043-megaphone:before { content: "\f12a"; }
.flaticon-044-sold:before { content: "\f12b"; }
.flaticon-045-law-book:before { content: "\f12c"; }
.flaticon-046-charity:before { content: "\f12d"; }
.flaticon-047-wallet:before { content: "\f12e"; }
.flaticon-048-sold-out:before { content: "\f12f"; }
.flaticon-049-winner:before { content: "\f130"; }
.flaticon-050-safety-box:before { content: "\f131"; }

$font-Flaticon-001-house: "\f100";
$font-Flaticon-002-necklace: "\f101";
$font-Flaticon-003-sale: "\f102";
$font-Flaticon-004-face-mask: "\f103";
$font-Flaticon-005-painting: "\f104";
$font-Flaticon-006-diamond: "\f105";
$font-Flaticon-007-catalogue: "\f106";
$font-Flaticon-008-money-bag: "\f107";
$font-Flaticon-009-vase: "\f108";
$font-Flaticon-010-wristwatch: "\f109";
$font-Flaticon-011-hammer: "\f10a";
$font-Flaticon-012-smartphone: "\f10b";
$font-Flaticon-013-bid: "\f10c";
$font-Flaticon-014-stopwatch: "\f10d";
$font-Flaticon-015-crown: "\f10e";
$font-Flaticon-016-certificate: "\f10f";
$font-Flaticon-017-bid: "\f110";
$font-Flaticon-018-statue: "\f111";
$font-Flaticon-019-search: "\f112";
$font-Flaticon-020-calendar: "\f113";
$font-Flaticon-021-bid: "\f114";
$font-Flaticon-022-museum: "\f115";
$font-Flaticon-023-vase: "\f116";
$font-Flaticon-024-delivery-truck: "\f117";
$font-Flaticon-025-gift-box: "\f118";
$font-Flaticon-026-diamond-ring: "\f119";
$font-Flaticon-027-target: "\f11a";
$font-Flaticon-028-hammer: "\f11b";
$font-Flaticon-029-banknote: "\f11c";
$font-Flaticon-030-vase: "\f11d";
$font-Flaticon-031-speech: "\f11e";
$font-Flaticon-032-car: "\f11f";
$font-Flaticon-033-painting: "\f120";
$font-Flaticon-034-credit-card: "\f121";
$font-Flaticon-035-cctv-camera: "\f122";
$font-Flaticon-036-goblet: "\f123";
$font-Flaticon-037-conference: "\f124";
$font-Flaticon-038-bank-check: "\f125";
$font-Flaticon-039-worlwide: "\f126";
$font-Flaticon-040-price-tag: "\f127";
$font-Flaticon-041-document: "\f128";
$font-Flaticon-042-tuxedo: "\f129";
$font-Flaticon-043-megaphone: "\f12a";
$font-Flaticon-044-sold: "\f12b";
$font-Flaticon-045-law-book: "\f12c";
$font-Flaticon-046-charity: "\f12d";
$font-Flaticon-047-wallet: "\f12e";
$font-Flaticon-048-sold-out: "\f12f";
$font-Flaticon-049-winner: "\f130";
$font-Flaticon-050-safety-box: "\f131";