@font-face {
  font-family: "Flaticon";
  src: url("http://bakuauksion.az/template/font/Flaticon.eot");
  src: url("http://bakuauksion.az/template/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("http://bakuauksion.az/template/font/Flaticon.woff2") format("woff2"),
       url("http://bakuauksion.az/template/font/Flaticon.woff") format("woff"),
       url("http://bakuauksion.az/template/font/Flaticon.ttf") format("truetype"),
       url("http://bakuauksion.az/template/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("http://bakuauksion.az/template/font/Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-house:before { content: "\f100"; }
.flaticon-002-necklace:before { content: "\f101"; }
.flaticon-003-sale:before { content: "\f102"; }
.flaticon-004-face-mask:before { content: "\f103"; }
.flaticon-005-painting:before { content: "\f104"; }
.flaticon-006-diamond:before { content: "\f105"; }
.flaticon-007-catalogue:before { content: "\f106"; }
.flaticon-008-money-bag:before { content: "\f107"; }
.flaticon-009-vase:before { content: "\f108"; }
.flaticon-010-wristwatch:before { content: "\f109"; }
.flaticon-011-hammer:before { content: "\f10a"; }
.flaticon-012-smartphone:before { content: "\f10b"; }
.flaticon-013-bid:before { content: "\f10c"; }
.flaticon-014-stopwatch:before { content: "\f10d"; }
.flaticon-015-crown:before { content: "\f10e"; }
.flaticon-016-certificate:before { content: "\f10f"; }
.flaticon-017-bid:before { content: "\f110"; }
.flaticon-018-statue:before { content: "\f111"; }
.flaticon-019-search:before { content: "\f112"; }
.flaticon-020-calendar:before { content: "\f113"; }
.flaticon-021-bid:before { content: "\f114"; }
.flaticon-022-museum:before { content: "\f115"; }
.flaticon-023-vase:before { content: "\f116"; }
.flaticon-024-delivery-truck:before { content: "\f117"; }
.flaticon-025-gift-box:before { content: "\f118"; }
.flaticon-026-diamond-ring:before { content: "\f119"; }
.flaticon-027-target:before { content: "\f11a"; }
.flaticon-028-hammer:before { content: "\f11b"; }
.flaticon-029-banknote:before { content: "\f11c"; }
.flaticon-030-vase:before { content: "\f11d"; }
.flaticon-031-speech:before { content: "\f11e"; }
.flaticon-032-car:before { content: "\f11f"; }
.flaticon-033-painting:before { content: "\f120"; }
.flaticon-034-credit-card:before { content: "\f121"; }
.flaticon-035-cctv-camera:before { content: "\f122"; }
.flaticon-036-goblet:before { content: "\f123"; }
.flaticon-037-conference:before { content: "\f124"; }
.flaticon-038-bank-check:before { content: "\f125"; }
.flaticon-039-worlwide:before { content: "\f126"; }
.flaticon-040-price-tag:before { content: "\f127"; }
.flaticon-041-document:before { content: "\f128"; }
.flaticon-042-tuxedo:before { content: "\f129"; }
.flaticon-043-megaphone:before { content: "\f12a"; }
.flaticon-044-sold:before { content: "\f12b"; }
.flaticon-045-law-book:before { content: "\f12c"; }
.flaticon-046-charity:before { content: "\f12d"; }
.flaticon-047-wallet:before { content: "\f12e"; }
.flaticon-048-sold-out:before { content: "\f12f"; }
.flaticon-049-winner:before { content: "\f130"; }
.flaticon-050-safety-box:before { content: "\f131"; }
